@{
    ViewData["Title"] = "Home Page";
}
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<div class="row">


    <div class="col-md-4">
        <div class="image-container">
            <a asp-action="Create" asp-controller="Ilan">
                <img src="https://cdn1.iconfinder.com/data/icons/real-estate-building-flat-vol-1/104/179__house__home__building__estate__real-276.png" alt="User">
                <p class="special">
                    ______ Ev Taşıma İlanı Oluştur ______
                </p>
            </a>
        </div>
        <h2 class="image-caption">
            <a asp-action="Create" asp-controller="Ilan"></a>
        </h2>
    </div>


    <div class="col-md-4">
        <div class="image-container">
            <a asp-action="Create" asp-controller="Ilan">
                <img src="https://cdn1.iconfinder.com/data/icons/real-estate-building-flat-vol-1/104/147__house__home__real__estate__building-276.png" alt="User">
                <p class="special">
                    _ Ofis ve Diğer Taşıma İlanı Oluştur _
                </p>
            </a>
        </div>
        <h2 class="image-caption">
            <a asp-action="Create" asp-controller="Ilan"></a>
        </h2>
    </div>

    <div class="col-md-4">
        <div class="image-container">
            <a asp-action="Index" asp-controller="Ilan">
                <img src="https://cdn2.iconfinder.com/data/icons/business-1381/1000/business___vision_search_find_innovation_idea_thought-276.png" alt="Loan">
                <p class="special">
                    ____________ İlanlara gözat ____________
                </p>
            </a>
        </div>
        <h2 class="image-caption">
            <a asp-action="Index" asp-controller="Ilan"></a>
        </h2>
    </div>
    <hr />
    <hr /><hr /><hr /><hr /><hr />
</div>


