@model ServiceETW.ViewModels.UserVM

@{
    ViewData["Title"] = "Edit";
}

<script src="~/js/site.js"></script>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input asp-for="Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Ad Soyad</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Parola</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">E-Mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Telefon</label>
                <input asp-for="PhoneNumber" class="form-control" maxlength="11" oninput="forCreatUserPhoneNumberInput(this)" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>


            <div class="form-group">
                <br />
                <input type="submit" value="Güncelle" class="btn btn-primary" style="display: block; margin: 0 auto;" />

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}